<%# <div class="d-flex flex-column align-items-center"> %>
<div>
  <h1>Matt Pike</h1>
  <p>Welcome to my simple Ruby on Rails portfolio! Have a look around:
  </p>
  <div>
    <%= link_to "About", about_path %>
  </div>
  <div>
    <%= link_to "Projects", projects_path %>
  </div>
  <div>
    <%= link_to "Contact", contact_path %>
  </div>
</div>