<h1>Projects</h1>
<h2 class="text-center">Ruby on Rails</h2>
<div class="d-flex justify-content-between my-3">
  <a href="https://github.com/mpike91" style="text-decoration: none; color: inherit;" target="_blank">
    <div class="card" style="width: 18rem;">
      <%= image_tag('githubcard.png', alt: "Linked In", class: "card-img-top") %>
      <div class="card-body bg-light">
        <h5 class="card-title">GitHub</h5>
        <p class="card-text">My GitHub homepage. Access all of my GitHub repositories and projects to date.</p>
      </div>
    </div>
  </a>

  <div class="card" style="width: 18rem;">
    <a href="#" target="_blank">
      <img class="card-img-top" src="..." alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title">Ruby </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>