<h1>About</h1>
<p>
  Hello! I'm Matt Pike. I'm 32 years old, I'm from Omaha, Nebraska, and I live in Valrico, FL.
</p>
<p>
  I was born in New York, but moved to a small town in Wisconsin when I was a baby. I grew up in Cedar Grove, WI till I was about ten, when my family moved to Missouri Valley, IA - right on the Nebraska/Iowa border. We lived there until my senior year of high school, and then we moved to the Omaha area, where I lived until I moved to the Tampa, FL area in 2017. As such, Omaha really feels like "home" to me. I have family and friends there and still visit about once a year.
</p>
<p>
  I met my wife, Carly, online, and I moved in 2017 to the Tampa area to pursue her. We got married in October 2018, and have since bought a house and had our first child, Olivet. She will be two in November. We are now expecting our second child, a boy, in December of this year, 2023.
</p>
<p>
  I had been truck driving since 2016, until I quit to study Software Engineering full-time this year in January. I started with USF's Software Engineering Bootcamp, and since June I have continued to pursue self-guided study with the help of my mentor, Lawrence Onaulogho. He's been an incredible resource and source of encouragement - check out his <%= link_to "Linked In profile", "https://www.linkedin.com/in/lawrence-onaulogho/", target: '_blank' %>.
</p>
<p>
  In my studies this year, I've been learning full-stack development with a focus on React and Node. Since applying for a junior web developer position that utilizes Ruby on Rails, I have been studying Ruby and Rails to get familiar with the language and framework. This simple portfolio website is a small practice app with Rails!
</p>
<p>
  My goal is to land a software engineering role this year, grow as a developer, and learn more and more in this new career. My primary aim in transitioning from truck driving to software development is to obtain a greater work-life balance for the sake of my family. I want to be present for my wife and for my kids as they grow up, and I believe a career in software engineering will afford this much better than a career in truck driving. In addition to this primary aim, I am also excited to step into a career where I can continually grow, learn, be challenged, and use my mind. I enjoy solving problems, and I am excited to do this as a software engineer!
</p>
<p>
  Thanks for checking out my portfolio website!
</p>