<h1>Contact</h1>
<p>
  Please feel free to contact me at:
</p>
<ul>
  <li>
    <strong>Email: </strong>Mattp91@gmail.com
  </li>
  <li>
    <strong>Phone: </strong>402-881-5610
  </li>
  <li>
    <strong>Linked In: </strong><%= link_to "Matt Pike", "https://www.linkedin.com/in/matthew-pike-b978a3256/", target: "_blank" %>
  </li>
</ul>